
body {

    /* IMAGEN DE FONDO */
    background-image: url("img/guts.jpg");

    /* AJUSTES DEL FONDO */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: Arial, sans-serif;
    margin: 20px;
}

/* TITULOS */

#titulo,
#tituloImagen {
    text-align: center;
    color: white;
    margin-bottom: 20px;

    /* SOMBRA TEXTO */
    text-shadow: 2px 2px 5px black;
}

/* TABLA PRINCIPAL */

#tablaInstituto {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: rgba(255, 255, 255, 0.95);
    margin-bottom: 40px;

    border-radius: 15px;
    overflow: hidden;
}

/* CONTENEDOR TABLAS */

#contenedorTablas {
    text-align: center;
    margin-bottom: 50px;
}

/* TABLAS PEQUEÑAS */

#tablaIzquierda,
#tablaCentro,
#tablaDerecha {
    display: inline-table;
    vertical-align: top;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.95);

    border-collapse: separate;
    border-spacing: 0;

    width: 300px;

    border-radius: 15px;
    overflow: hidden;
}

/* TABLA PERFIL */

#tablaImagen {
    width: 70%;
    margin: auto;

    background-color: rgba(255, 255, 255, 0.95);

    border-collapse: separate;
    border-spacing: 0;

    border-radius: 15px;
    overflow: hidden;
}

/* ENCABEZADOS */

.encabezado {
    background-color: #003366;
    color: white;
}

/* FILAS */

.fila {
    background-color: transparent;
}

/* CELDAS GENERALES */

.celda {
    border: 1px solid black;
    padding: 10px;
}

/* CELDAS PERFIL */

.celdaImagen,
.celdaPerfil {
    border: 1px solid black;
    padding: 10px;
    background-color: transparent;
}

/* ALINEACION TABLAS */

#tablaIzquierda .celda {
    text-align: left;
}

#tablaCentro .celda {
    text-align: center;
}

#tablaDerecha .celda {
    text-align: right;
}

.celdaPerfil {
    text-align: left;
}

.celdaImagen {
    text-align: center;
}

/* PIE TABLA */

.pieTabla {
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
}

/* IMAGENES */

img {
    border-radius: 10px;
    display: block;
    margin: auto;
}

